<!doctype html>
<html lang="en">

<head>
    <title>EduMotive </title>
    <link rel="icon" href="/static/images/cropped-logo-title.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/f0b4d212f8.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">

    <script src="https://kit.fontawesome.com/f0b4d212f8.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/static/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/css/style.css">


</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>



        <header class="site-navbar site-navbar-target" role="banner">

            <div class="container mb-3">
                <div class="d-flex align-items-center">
                    <div class="site-logo mr-auto">
                        <a href="index.html"><img class="logo" src="/static/images/logo-new.png" alt=""></a>
                    </div>

                </div>
            </div>




            <div class="container">
                <div class="menu-wrap d-flex align-items-center">
                    <span class="d-inline-block d-lg-none"><a href="#" class="text-black site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-black"></span></a>
                    </span>



                    <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto ">
                            <li class="active"><a href="index.html" class="nav-link">Home</a></li>
                            <li><a href="#services" id="ser_btn" class="nav-link">Services</a></li>
                            <li><a href="#" class="nav-link" onclick="scrollabout()">About</a></li>


                            <li><a href="#" class="nav-link">Contact</a></li>
                        </ul>
                    </nav>


                </div>
            </div>



        </header>

        <div class="ftco-blocks-cover-1">

            <div class="site-section-cover overlay">
                <div class="container">
                    <div class="row align-items-center ">
                        <div class="col-md-5 mt-5 pt-5 heading">

                            <span class="text-cursive h5 text-r ed">Welcome To Our Website</span>
                            <h1 class="mb-3 font-weight-bold text-teal">A vision to brush up your skills and brighten your creativity </h1>

                            <!-- <p class="mt-5"><a href="#" class="btn btn-primary py-4 btn-custom-1 learn">Learn More</a></p> -->

                        </div>
                        <div class="col-md-6 ml-auto align-self-end">
                            <img src="/static/images/grad.png" alt="Image" class="img-fluid">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section " id="services">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4  coll">
                        <div class="block-2 red">
                            <span class="wrap-icon">
                                <span ><i class="fa fa-cloud"></i></span>
                            </span>
                            <h2 style="font-weight: 700;">Campus Placement Prediction</h2>
                            <p>Placement of students is the most important objective of an educational institution. Reputation and yearly admissions of an institution invariably depend on the placements it provides it improve their institution on a whole.</p>
                            <p class="mt-5"><a href="/campus_predict" value="campus_predict" name="campus_predict" class="btn btn-primary py-4 btn-custom-1 learn">Learn More</a></p>
                        </div>
                    </div>
                    <div class="col-lg-4 coll">
                        <div class="block-2 yellow">
                            <span class="wrap-icon">
                                <span ><i class="fa fa-bolt"></i></span>
                            </span>
                            <h2 style="font-weight: 700;"> Best Courses For You</h2>
                            <p>Today almost every student dreams of getting a good placement in a MNC to move further in his/her life.We provide best courses for students where they can learn new concepts and brush up their skills .</p>
                            <p class="mt-5"><a href="/courses" class="btn btn-primary py-4 btn-custom-1 learn">Learn More</a></p>
                        </div>
                    </div>
                    <div class="col-lg-4 coll">
                        <div class="block-2 teal">
                            <span class="wrap-icon">
                                <span ><i class="fa fa-award"></i></span>
                            </span>
                            <h2 style="font-weight: 700;">Read Any Book For Free</h2>
                            <p>Calling all Book Lovers !! Books are considered as the Bestfriends of Humans and here our website also provide an amazing feature of searching the books which will give you a broader idea about various books.</p>
                            <p class="mt-5"><a href="/book_search" class="btn btn-primary py-4 btn-custom-1 learn">Learn More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-5 mb-md-0">
                        <img src="/static/images/ian-dooley-DJ7bWa-Gwks-unsplash.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-md-5 ml-auto pl-md-5">
                        <span class="text-cursive h5 text-red">About Us</span>
                        <h3 class="text-black">Be Placement Ready . . . </h3>
                        <p>Wouldn’t it be amazing if we get to know what are the chances of succeeding in a work that we are going to attempt. It’s fascinating right. So, here we are with EduMotive. How often we see that if we do proper analysis on something
                            and calculate the percentage of the success of the work it becomes easy for us to prepare in a better and efficient way. Analysing makes it easier for us to predict what are the chances of success. Many students fail because
                            of not being able to identify the problem domain of a particular task and continuously attempting to make it work. Not having proper direction and materials of study leads to failure for a student. EduMotive aims to provide
                            proper guidance and materials to a student or an employee to predict his/her chances of being getting success. <span>
                            </span></p>
                        <!-- <p class="mt-5"><a href="#" class="btn btn-warning py-4 btn-custom-1">More About Us</a></p> -->
                    </div>
                </div>
            </div>
        </div>


        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        Visit Again :)
                    </p>
                    <!-- <div class="top-social ml-auto">
                        <a href="https://www.facebook.com/Artist-Mela-106507321104425/
                                        "><span class="icon-facebook text-teal"></span></a>
                        <a href="https://www.instagram.com/artist.mela.2020/
                                        "><span class="icon-instagram text-success"></span></a>
                        <a href="https://www.linkedin.com/company/artist-mela"><span class="icon-linkedin text-yellow"></span></a>
                    </div> -->
                </div>
            </div>

        </div>
    </div>
    </footer>

    </div>






    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery-migrate-3.0.0.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.sticky.js"></script>
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <script src="/static/js/jquery.animateNumber.min.js"></script>
    <script src="/static/js/jquery.fancybox.min.js"></script>
    <script src="/static/js/jquery.stellar.min.js"></script>
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <script src="/static/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/js/aos.js"></script>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/script.js"></script>



    <script>
        document.getElementById("ser_btn").addEventListener("click", function() {
            window.scrollTo({
                top: 2000,
                left: 700,
                behavior: 'smooth'
            })
        })
    </script>
</body>

</html>